.promo {
  grid-row: 1;
  margin: 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 5vw;
  font-weight: 700;
  color: #E20055;
}
  
.promo-text {
  grid-row: 2;
  margin: 0;
  margin-top: 0.2vh;
  font-family: 'Cuprum', sans-serif;
  font-size: 3.6vw;
  font-weight: 400;
  color: #000;
}